.genreBooks {
  display: flex;
  flex-wrap: wrap; 
  justify-content: flex-start;
  gap: 1.5em; 
  margin: 3em 0;
  padding: 0 1em; 
  overflow: hidden; 
}


.genreSection{
  max-width: 1200px;
  margin: 3em 0;
  margin-inline: auto;
}

.genreDetails{
  margin-bottom: 2em;
  padding-bottom: 20px;
  border-bottom: 2px solid black;
}

.genreHead{
  font-family: "Playfair Display", serif;
  margin-bottom: 10px;
  color: whitesmoke;
  font-size: 1.7em;
}

.genreHead:hover{
  color: #555;
}

.genreText{
  font-family: "Parkinsans", sans-serif;
  font-size: .9em;
  color: #f1f1f198;
}

.genreBooks{
  overflow-x: auto;
  display: flex;
  justify-content: flex-start;
  gap: 1.5em;
  margin: 3em 0;
}

@media (max-width: 770px) {
  .genreSection {
      margin: 3em 0;
      padding: .7em;
  }

  .genreBooks{
    gap: 1.5em;
  }

  .genreText{
    font-size: .8em;
  }
}

@media (max-width: 450px) {
  .genreSection {
      margin: 1em 0;
      padding: .7em;
  }

  .genreBooks{
    gap: 1.5em;
  }

  .genreText{
    font-size: .8em;
  }
}